<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication Page</title>
</head>
<body>

    <h2>User Authentication</h2>
    <form method="GET" action="/chatapp">
        <input type="text" placeholder="Enter name" name="user">
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>